body {
    background-image: url(../images/triviaBackground.jpg);
    font-family: 'Mouse Memoirs', sans-serif;
}


.content {
    padding-top: 50px;
    border: solid 2px black;
    margin: 50px;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;

}

.contentText {
    font-size: 25px;
}
.answer {
    margin-left: 10px;

}



.startButton, .resetButton {
    background-color: darkcyan;
    font-size: 30px;
}

.themeName {
    text-align: center;
    font-size: 50px;
    font-style: bold;
    color: red;

}

img {
    margin-bottom: 20px;
}

.btn {
    50px;
}